<style>

body {
	font-family: Arial, Helvetica, sans-serif;
}

input, select {
	width: 25%;
	padding: 12px 12px;
	margin: 6px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	float: center;
}

label {
	display: inline-block;
	float: center;
	width: 250px;
	text-align: right;
}

button {
	background-color: #008000;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 20%;
}
</style>