<html>
<style>
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #c0c0c0;
  color: black;
  text-align: center;
}

</style>

<body>
<div class="footer">
&copy; 2019 Smartnerd.in
</div>
</body>

</html>